{% extends "capsule/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'capsule/library.js' %}"></script>
{% endblock %}

{% block title%} Add Book {% endblock %}

{% block pageHeader %}
    <h1>Add a book to your library</h1>
{% endblock %}

{% block body %}
    <input autocomplete="off" class="form-control" id="query" placeholder="Enter book title...">
    <button id="search" class="btn btn-primary my-2" type="button">Search</button>
    <div id="search_result">
    </div>
{% endblock %}