{% extends "capsule/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block script %}
    <script src="{% static 'capsule/script.js' %}"></script>
{% endblock %}

{% block title %} Goals {% endblock %}

{% block pageHeader %}
    <h1>{{ user.first_name }}'s {{ priority }} goals</h1> 
{% endblock %}

{% block body %}
    <!-- Buttons to switch between different types of goals -->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <a class="btn btn-info mx-4 my-2" href="{% url 'capsule:goals' 'daily' %}">Daily Goals</a>
        <a class="btn btn-info mx-4 my-2" href="{% url 'capsule:goals' 'weekly' %}">Weekly Goals</a>
        <a class="btn btn-info mx-4 my-2" href="{% url 'capsule:goals' 'monthly' %}">Monthly Goals</a>
        <a class="btn btn-info mx-4 my-2" href="{% url 'capsule:goals' 'long-term' %}">Long-term Goals</a>
        <a class="btn btn-info mx-4 my-2" href="{% url 'capsule:goals' 'completed' %}">Completed Goals</a>
    </div>

    {% if goals %}
        <!-- Show the goals as an interactive list group, from Bootstrap -->
        <div class="row my-5">
            <div class="col-4 m-auto">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for goal in goals %}
                        <a class="list-group-item list-group-item-action" id="list-{{ goal.id }}-list" data-toggle="list" href="#list-{{ goal.id }}" role="tab" aria-controls="{{ goal.id }}">
                            {{ goal.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <!-- Show the descriptions of the goal -->
            <div class="col-8 m-auto">
                <div class="tab-content" id="nav-tabContent">
                    {% for goal in goals %}
                        <div class="tab-pane fade" id="list-{{ goal.id }}" role="tabpanel" aria-labelledby="list-{{ goal.id }}-list">
                            {{ goal.description }}
                            {% if goal.priority != 'completed' %}
                                <!-- Buttons to complete the goal or delete it if it is already completed -->
                                <form action="{% url 'capsule:change_goal' goal.id 'complete' %}" method="post">
                                    {% csrf_token %}
                                    <button id="{{ goal.id }}" class="btn btn-success btn-sm mt-3" type="submit">Complete goal!</button>
                                </form>
                            {% else %}
                                <form action="{% url 'capsule:change_goal' goal.id 'delete' %}" method="post">
                                    {% csrf_token %}
                                    <button id="{{ goal.id }}" class="btn btn-danger btn-sm mt-3" type="submit">Delete goal</button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    <!-- If user does not have any goals of the selected type, display a header -->
    {% else %}
        <h4>Looks like you don't have any {{ priority }} goals so far!</h4>
    {% endif %}
    <!-- Form to add a new goal, if the goal has not been completed -->
    {% if priority != 'completed' %}
        <button class="btn btn-success my-4" id="toggle_form">Click here to add {{ priority }} goal</button>
        <div id="form">
            <form action="{% url 'capsule:goals' priority %}" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-success mb-2" type="submit">Add goal</button>
                <button class="btn btn-secondary mb-4" id="close" type="button">Close</button>
            </form>
        </div>
    {% endif %}
{% endblock %}