{% extends "capsule/layout.html" %}

{% block title%} Goals {% endblock %}

{% block pageHeader %}
    <h1>{{ user.first_name }}'s Goals</h1> 
{% endblock %}

{% block body %}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-5" role="group" aria-label="First group">
            <a class="btn btn-info" href="{% url 'capsule:view_goal' 'daily' %}">Daily Goals</a>
        </div>
        <div class="btn-group mr-5" role="group" aria-label="Second group">
            <a class="btn btn-info" href="{% url 'capsule:view_goal' 'weekly' %}">Weekly Goals</a>
        </div>
        <div class="btn-group mr-5" role="group" aria-label="Third group">
            <a class="btn btn-info" href="{% url 'capsule:view_goal' 'monthly' %}">Monthly Goals</a>
        </div>
        <div class="btn-group mr-5" role="group" aria-label="Fourth group">
            <a class="btn btn-info" href="{% url 'capsule:view_goal' 'long-term' %}">Long-term Goals</a>
        </div>
    </div>
    <div class="jumbotron mt-5">
        <div class="container">
            <h3>Set your goals</h3>
            <p class="lead">
                Here, you can set any goals that you have in your life, be they for the day ahead, the week ahead,
                or the month ahead. You can also set long-term goals— those goals that you have in your life in
                general, goals that are meant to guide your life's work. 
            </p>
        </div>
    </div>
{% endblock %}