{% extends "capsule/layout.html" %}

{% block title%} Time Capsule {% endblock %}

{% block pageHeader %}
    <h1>&#8987; Time Capsule</h1>
{% endblock %}

{% block body %}
    <!-- General information about the time capsule -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to your time capsule, {{ user.first_name }}</h1>
            <p class="lead">
                This space is meant for you. Keep a journal, and write about anything you want.
                Set goals that you have, either for the day, week, or month ahead or general, long-term goals
                for your life.
            </p>
        </div>
    </div>
    <hr>
    <h1>A Reminder of Where We Are...</h1>
    <br>
    <iframe class="container m-auto" width="560" height="315" src="https://www.youtube.com/embed/wupToqz1e2g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

{% endblock %}