{% extends "capsule/layout.html" %}

{% block title%} Library {% endblock %}

{% block pageHeader %}
    <h1>{{ user.first_name }}'s Library</h1>
{% endblock %}

{% block body %}
    <!-- If there are any books to display -->
    {% if books %}
        <!-- Display the user's books as Bootstrap Cards -->
        <div class="card-columns">
            {% for book in books %}
                <div class="card w-75 mx-3 my-1 p-3">
                    <img class="card-img-top w-75 mx-auto" src="{{ book.cover_photo }}" alt="{{ book.pk }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <h6 class="card-text">{{ book.authors }}</h6>
                        <a class="btn btn-primary my-2" href="{% url 'capsule:view_book' book.pk %}">View book</a>
                        <form action="{% url 'capsule:library' book.pk %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger my-2" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    <!-- If there are no books to display, inform user thusly -->
    {% else %}
            <h4>Looks like you haven't added books to your library</h4>
    {% endif %}
    <!-- Link to add a book -->
    <a class="btn btn-success my-2" href="{% url 'capsule:add_book' %}">Add a book</a>
{% endblock %}