{% extends "capsule/layout.html" %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block pageHeader %}
    <h1>Humanity: User Login</h1> 
{% endblock %}

{% block body %}
    <!-- Display the login form -->
    <form action="{% url 'capsule:login' %}" autocomplete="off" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-success" type="submit">Login</button>
        <!-- Redirect the user to register if they do not have an account -->
        <p>Don't have an account? <a href="{% url 'capsule:register' %}">Create One</a></p>
    </form>
{% endblock %}