{% extends "capsule/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block script %}
    <script src="{% static 'capsule/script.js' %}"></script>
{% endblock %}

{% block title %} Project {% endblock %}

{% block pageHeader %} 
    <h1>{{project.title}}</h1>
{% endblock %}

{% block body %}
    <!-- Show the general information about the project: finish date and status -->
    <div id="entry">
        <h5 class="general_info">Status:</h5>
        {% if project.status == 'i' %}
            <p class="general_info">Project in progress</p>
        {% elif project.status == 'c' %}
            <p class="general_info">Project completed!</p>
        {% else %}
            <p class="general_info">Project stopped</p>
        {% endif %}
        <h5 class="general_info">Goal finish date:</h5>
        <p class="general_info">{{ project.finish_date }}</p> 
        <hr>
        <!-- Show the more detailed information about the project -->
        <h2>Description</h2>
        <br>
        <p>
            {{ project.description }}
        </p>
        
        <hr>
        <h2>Other information</h2>
        <br>
        <p>
            {{ project.other_info }}
        </p>
        <hr>
        <h2>Project Log</h2>
        <br>
        <!-- Include all logs as links to a log page -->
        {% if not logs %}
            <p>Looks like you haven't recorded any project logs</p>
        {% else %}
            {% for log in logs %}
                <a href="{% url 'capsule:view_log' project.pk log.pk %}">{{ log }}&#128220;</a>
                <br>
            {% endfor %}
        {% endif %}
        <br>
        <!-- Button trigger modal to add a project log -->
        <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#addProjectLog">
            Click here to add a project log
        </button>
    
        <!-- Modal, which contains the form to add project log -->
        <div class="modal fade" id="addProjectLog" tabindex="-1" aria-labelledby="projectLogLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="projectLogLabel">Project log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'capsule:view_project' project.pk %}" method="post">
                            {% csrf_token %}
                            {{ log_form | crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Add log</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Button to toggle the form to update project information -->
    <button class="btn btn-primary my-3" id="toggle_form">Click here to update/delete project</button>
    <div id="form">
        <!-- Form to update the project information -->
        <form action="{% url 'capsule:change_project' project.pk 'update' %}" method="post" autocomplete="off">
            {% csrf_token %}
            {{ project_form | crispy }}
            <button class="btn btn-success mb-2" type="submit">Update project</button>
            <button class="btn btn-secondary mb-4" id="close" type="button">Close</button>
        </form>
        <form action="{% url 'capsule:change_project' project.pk 'delete' %}" autocomplete="off" method="post">
            {% csrf_token %}
            <button class="btn btn-danger my-2" type="submit">Delete project</button>
        </form>
    </div>
    <br>
    <!-- Link to go back to projects page -->
    <a class="btn btn-link my-2"href="{% url 'capsule:projects' %}">Back to Projects page</a>
{% endblock %}